<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Detail</title>
        <style type="text/css">
            pre {
                background-color: ghostwhite;
                border: 1px solid silver;
                padding: 10px 20px;
                margin: 20px;
                }
            .json-key {
                color: brown;
                }
            .json-value {
                color: navy;
                }
            .json-string {
                color: olive;
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>


<body>
<div class="container">
    <ul class="pager">
        <li><a href='{{redirect}}' class='button'>Back</a></li>
    </ul>

        <p><button class="btn btn-info" id="usernamebutton">Username:<span class="glyphicon glyphicon-triangle-top" id="usernamespan"></span></button>
            <pre class="username"><code id="username" data-body={{username}}>{{username}}</code></pre>
        </p>

        <p><button class="btn btn-info" id="bodybutton">Body:<span class="glyphicon glyphicon-triangle-top" id="bodyspan"></span></button>
            <pre class="body"><code id="body" data-body={{body}}>{{body}}</code></pre>
        </p>

        <p><button class="btn btn-info" id="timebutton">Timestamp:<span class="glyphicon glyphicon-triangle-top" id="timespan"></span></button>
            <pre class="timestamp"><code id="timestamp" data-body={{timestamp}}>{{timestamp}}</code></pre>
        </p>

        <p><button class="btn btn-info" id="methodbutton">Method:<span class="glyphicon glyphicon-triangle-top" id="methodspan"></span></button>
            <pre class="method"><code id="method" data-body={{method}}>{{method}}</code></pre>
        </p>

        <p><button class="btn btn-info" id="cookiesbutton">Cookies:<span class="glyphicon glyphicon-triangle-top" id="cookiesspan"></span></button>
            <pre class="cookies"><code id="cookies" data-body={{cookies}}>{{cookies}}</code></pre>
        </p>

        <p><button class="btn btn-info" id="atbutton">Access Token:<span class="glyphicon glyphicon-triangle-top" id="atspan"></span></button>
            <pre class="accesstoken"><code id="accesstoken" data-body={{accesstoken}}>{{accesstoken}}</code></pre>
        </p>

        <p><button class="btn btn-info" id="headersbutton">Headers:<span class="glyphicon glyphicon-triangle-top" id="headersspan"></span></button>
            <pre class="headers"><code id="headers" data-body={{headers}}>{{headers}}</code></pre>
        </p>

        <p><button class="btn btn-info" id="querybutton">Query:<span class="glyphicon glyphicon-triangle-top" id="queryspan"></span></button>
            <pre class="query"><code id="query" data-body={{query}}>{{query}}</code></pre>
        </p>

        <p><button class="btn btn-info" id="pathbutton">Path:<span class="glyphicon glyphicon-triangle-top" id="pathspan"></span></button>
            <pre class="path"><code id="path" data-body={{path}}>{{path}}</code></pre>
        </p>

        <p><button class="btn btn-info" id="remotebutton">Remoteip:<span class="glyphicon glyphicon-triangle-top" id="remotespan"></span></button>
            <pre class="remoteip"><code id="remoteip" data-body={{remoteip}}>{{remoteip}}</code></pre>
        </p>


</div>

</body>
<footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript">
        if (!library)
           var library = {};

        library.json = {
           replacer: function(match, pIndent, pKey, pVal, pEnd) {
              var key = '<span class=json-key>';
              var val = '<span class=json-value>';
              var str = '<span class=json-string>';
              var r = pIndent || '';
              if (pKey)
                 r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
              if (pVal)
                 r = r + (pVal[0] == '"' ? str : val) + pVal + '</span>';
              return r + (pEnd || '');
              },
           prettyPrint: function(obj) {
              var jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
              return JSON.stringify(obj, null, 3)
                 .replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
                 .replace(/</g, '&lt;').replace(/>/g, '&gt;')
                 .replace(jsonLine, library.json.replacer);
              }
           };


      var body;
        $.get('/body/' + '{{id}}', function(response){
            data = response

            $.each(data, function(i){
                console.log(i);
                $('#'+i).html(library.json.prettyPrint(data[i]));
            });

            $(document).on('click', "#bodybutton", function(event) {
                if ($("#bodyspan").attr('about') === "top"){
                    $("#bodyspan").attr( "class", "glyphicon glyphicon-triangle-top" );
                    $("#bodyspan").removeAttr("about")
                }
                else {
                    $("#bodyspan").attr( "class", "glyphicon glyphicon-triangle-bottom" );
                    $("#bodyspan").attr( "about", "top" );
                }

                $(".body").toggle();
            });

            $(document).on('click', "#usernamebutton", function(event) {
                if ($("#usernamespan").attr('about') === "top"){
                    $("#usernamespan").attr( "class", "glyphicon glyphicon-triangle-top" );
                    $("#usernamespan").removeAttr("about")
                }
                else {
                    $("#usernamespan").attr( "class", "glyphicon glyphicon-triangle-bottom" );
                    $("#usernamespan").attr( "about", "top" );
                }

                $(".username").toggle();
            });

            $(document).on('click', "#methodbutton", function(event) {
                if ($("#methodspan").attr('about') === "top"){
                    $("#methodspan").attr( "class", "glyphicon glyphicon-triangle-top" );
                    $("#methodspan").removeAttr("about")
                }
                else {
                    $("#methodspan").attr( "class", "glyphicon glyphicon-triangle-bottom" );
                    $("#methodspan").attr( "about", "top" );
                }

                $(".method").toggle();
            });

            $(document).on('click', "#timebutton", function(event) {
                if ($("#timespan").attr('about') === "top"){
                    $("#timespan").attr( "class", "glyphicon glyphicon-triangle-top" );
                    $("#timespan").removeAttr("about")
                }
                else {
                    $("#timespan").attr( "class", "glyphicon glyphicon-triangle-bottom" );
                    $("#timespan").attr( "about", "top" );
                }

                $(".timestamp").toggle();
            });

            $(document).on('click', "#cookiesbutton", function(event) {
                if ($("#cookiesspan").attr('about') === "top"){
                    $("#cookiesspan").attr( "class", "glyphicon glyphicon-triangle-top" );
                    $("#cookiesspan").removeAttr("about")
                }
                else {
                    $("#cookiesspan").attr( "class", "glyphicon glyphicon-triangle-bottom" );
                    $("#cookiesspan").attr( "about", "top" );
                }

                $(".cookies").toggle();
            });

            $(document).on('click', "#querybutton", function(event) {
                if ($("#queryspan").attr('about') === "top"){
                    $("#queryspan").attr( "class", "glyphicon glyphicon-triangle-top" );
                    $("#queryspan").removeAttr("about")
                }
                else {
                    $("#queryspan").attr( "class", "glyphicon glyphicon-triangle-bottom" );
                    $("#queryspan").attr( "about", "top" );
                }

                $(".query").toggle();
            });

            $(document).on('click', "#atbutton", function(event) {
                if ($("#atspan").attr('about') === "top"){
                    $("#atspan").attr( "class", "glyphicon glyphicon-triangle-top" );
                    $("#atspan").removeAttr("about")
                }
                else {
                    $("#atspan").attr( "class", "glyphicon glyphicon-triangle-bottom" );
                    $("#atspan").attr( "about", "top" );
                }

                $(".accesstoken").toggle();
            });

            $(document).on('click', "#headersbutton", function(event) {
                if ($("#headersspan").attr('about') === "top"){
                    $("#headersspan").attr( "class", "glyphicon glyphicon-triangle-top" );
                    $("#headersspan").removeAttr("about")
                }
                else {
                    $("#headersspan").attr( "class", "glyphicon glyphicon-triangle-bottom" );
                    $("#headersspan").attr( "about", "top" );
                }

                $(".headers").toggle();
            });

            $(document).on('click', "#pathbutton", function(event) {
                if ($("#pathspan").attr('about') === "top"){
                    $("#pathspan").attr( "class", "glyphicon glyphicon-triangle-top" );
                    $("#pathspan").removeAttr("about")
                }
                else {
                    $("#pathspan").attr( "class", "glyphicon glyphicon-triangle-bottom" );
                    $("#pathspan").attr( "about", "top" );
                }

                $(".path").toggle();
            });

            $(document).on('click', "#remotebutton", function(event) {
                if ($("#remotespan").attr('about') === "top"){
                    $("#remotespan").attr( "class", "glyphicon glyphicon-triangle-top" );
                    $("#remotespan").removeAttr("about")
                }
                else {
                    $("#remotespan").attr( "class", "glyphicon glyphicon-triangle-bottom" );
                    $("#remotespan").attr( "about", "top" );
                }

                $(".remoteip").toggle();
            });

        });


        </script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</footer>
</html>
