<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>

    <body>

    <div class="container">

        <div class="jumbotron">
            <div class="container">
                    <a href="/" style="text-decoration: none">
                        <h1 class="text-info" style="text-align:center;">Chroma Logs</h1>
                    </a>

        </div>
        </div>

            <div class="container">
            <form action="/search/" id="form">
                From:<input type="datetime-local" autocomplete="off" name="date_from" id="date_from" {% if date_from %} value="{{date_from}}" {% endif %}>
                To:<input type="datetime-local" autocomplete="off" name="date_to" id="date_to" {% if date_to %} value="{{date_to}}" {% endif %}>
                <input type="search" placeholder="username" name="user" id="user">
                <button type="submit" id="search" class="btn btn-default">Submit</button>
            </form>
            </div>

        <div class="col-md-12">


            <table class="table table-hover table-bordered" id="table" data-toggle="table" data-cache="false" data-height="299">

                <tr class="info">
                    <th>Time</th>
                    <th>Username</th>
                    <th>Url</th>
                </tr>


                    {% if objects %}
                    {% for i in objects %}

                <tr>
                    <td align="center"><a href="/detail/{{ i.id }}">{{ i.time }}</a></td>
                    <td align="center">{{ i.username }}</td>
                    <td>{{ i.url }}</td>
                </tr>

                    {% endfor %}
                    {% else %}

                        <h1>No logs can be found!</h1>

                    {% endif %}

            </table>
    {% if offset %}

            <ul class="pager">

                <li><a href="/?offset={{offset}}" id="next" class="button">Next Page</a></li>

            </ul>
    {% endif %}
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript">

        $(function() {
            var has_next = {{ has_next }};

        if (has_next <= 0) {
            $("#table").hide();
            $("#next").hide();
        };

/*
Javascript code block to keep datetime-local values. The values are stored by the python code for now.

            var url = window.location.href.split("?")[1];
            var date_first = url.split("&")[0];
            var date_second = url.split("&")[1];
            var date_f = date_first.split("=")[1];
            var date_from = date_f.replace("%3A", ":");
            var date_s = date_second.split("=")[1];
            var date_to = date_s.replace("%3A", ":");
            $("#date_from").attr("value", date_from);
            $("#date_to").attr("value", date_to);
*/

        });
    </script>

    </body>
</html>

